<a href="https://colab.research.google.com/github/Nikhileswar-Komati/100D_ML/blob/master/BIGMART_SALES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
from google.colab import files
files.upload()

In [109]:
data = pd.read_csv('/content/train_v9rqX0R.csv')
data.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [111]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [112]:
data.describe()

       Item_Weight  ...  Item_Outlet_Sales
count  7060.000000  ...        8523.000000
mean     12.857645  ...        2181.288914
std       4.643456  ...        1706.499616
min       4.555000  ...          33.290000
25%       8.773750  ...         834.247400
50%      12.600000  ...        1794.331000
75%      16.850000  ...        3101.296400
max      21.350000  ...       13086.964800

[8 rows x 5 columns]

In [113]:
def unique_vals_in_col(col):
  return len(col.unique())
data.apply(lambda x: unique_vals_in_col(x), axis=0)

Item_Identifier              1559
Item_Weight                   416
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     4
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [122]:
id_cols = ['Item_Identifier','Outlet_Identifier']
cat_cols = [x for x in data.dtypes.index if data.dtypes[x]=='object' and x not in id_cols]
for col in cat_cols:
  print(data[col].value_counts())
  print()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [187]:
impute_grps = data.pivot_table(values = 'Item_Weight', index = 'Item_Identifier')
count = 0
for i, row in data.loc[data['Item_Weight'].isnull(), :].iterrows():
  x = row['Item_Identifier']
  if x in impute_grps.index:
    count += 1
    data.loc[i,'Item_Weight'] = impute_grps.loc[x].values[0]
print("IMPUTED VALUES", count)

IMPUTED VALUES 0

In [188]:
data.loc[data['Item_Weight'].isnull()]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
927            FDN52          NaN  ...  Supermarket Type3          1569.9564
1922           FDK57          NaN  ...  Supermarket Type3          4434.2280
4187           FDE52          NaN  ...  Supermarket Type3          3453.5046
5022           FDQ60          NaN  ...      Grocery Store           120.5098

[4 rows x 12 columns]

In [207]:
def text_clean(text):
  return text[:2]
data['Item_Identifier_3'] = data['Item_Identifier'].apply(lambda val: text_clean(val))

In [210]:
data['Item_Identifier_3'].value_counts()

FD    6125
NC    1599
DR     799
Name: Item_Identifier_3, dtype: int64

In [208]:
data.pivot_table(values = 'Item_Outlet_Sales', index = 'Item_Identifier_3')

                   Item_Outlet_Sales
Item_Identifier_3
DR                       1997.333337
FD                       2215.354223
NC                       2142.721364

In [205]:
data.head(2)

  Item_Identifier  Item_Weight  ... Item_Outlet_Sales  Item_Identifier_3
0           FDA15         9.30  ...         3735.1380                FDA
1           DRC01         5.92  ...          443.4228                DRC

[2 rows x 13 columns]

In [209]:
visibility_avg = data.pivot_table(values='Item_Visibility', index='Item_Identifier')
visibility_avg

                 Item_Visibility
Item_Identifier
DRA12                   0.031956
DRA24                   0.048062
DRA59                   0.134718
DRB01                   0.082126
DRB13                   0.008002
...                          ...
NCZ30                   0.024956
NCZ41                   0.051623
NCZ42                   0.009044
NCZ53                   0.027775
NCZ54                   0.080426

[1559 rows x 1 columns]